#header-nav {
	background-color: #1d2731;
	border-radius: 0;
}

.navbar-brand h1 { /* Restaurant name */
	font-family: 'Candal', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0px;
	color: #ffffff;
}

.navbar-default .navbar-nav > li {
	margin-top: -8px;
	margin-bottom: -7px;
	text-align: center;
	font-size: 1.25em;
	border-bottom: 1px solid;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	background-color: #0b3c5d;
}

span.back-to-top > a,
span.back-to-top > a:hover,
span.back-to-top > a:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus  {
	color: #ffffff;
	background-color: #ffffff;
}

.navbar-brand > a:hover {
	text-decoration: none;
	color: #ffffff;
}

#main-content {
	padding: 0px 50px 25px 50px;
}

#chicken-text, #beef-text, #sushi-text {
	color: #ffffff;
	background-color: #328cc1;
	padding: 5px 20px;
	margin-bottom: 20px;
}

span.back-to-top {
	font-size: 0.9em;
}

#page-heading {
	margin-top: -20px;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0b3c5d;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}