#header-nav {
  background-color: #5d538b;
  border-radius: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #ddd8eb;
}

.navbar-default .navbar-nav > li {
	margin-top: -8px;
	margin-bottom: -7px;
	text-align: center;
	font-size: 1.25em;
	background-color: #ddd8eb;
	border-bottom: 1px solid;
}

.navbar-default .navbar-nav > li > a {
	color: #5d538b;
	background-color: #dacfdd;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus  {
	color: #d3e0ea;
	background-color: #7c6d96;
}

.navbar-brand > a:hover {
	text-decoration: none;
	color: #fff;
}

#main-content {
	padding: 0px 50px 25px 50px;
}

#chicken-text, #beef-text, #sushi-text {
	background-color: #ddd8eb;
	padding: 5px 20px;
	margin-bottom: 20px;
}

#chicken-text > span, 
#beef-text > span, 
#sushi-text > span{
	font-size: 0.9em;
}

#page-heading {
	margin-top: -20px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd8eb;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7f7392;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd8eb;
}